<style type="text/css">
    .content { padding: 50px 0; width: 600px; margin: 0 auto;}
</style>

<div class="content" role="main" ng-cloak>
  <section class="post-grevience">
    <div class="container" style="">

      <form id="todo-form" ng-submit="addGrieve()">
        <input class="new-todo" placeholder="What is your name?" ng-model="grieve.from" autofocus>
        <input class="new-todo" placeholder="Who is your grievance about?" ng-model="grieve.to">
        <input class="new-todo" placeholder="What is your grievance?" ng-model="grieve.grief">
        <input class="new-todo" type="submit"/>
      </form>

    </div>
  </section>
  <section class="list-greviences">
    <div class="container">
      <div ng-repeat="g in grieves">
        <div class="view">
          <h5>
            <strong>{{g.from}}</strong> has a grievance with <strong>{{g.to}}</strong>
          </h5>
          <p>{{g.grief}}</p>
        </div>
      </div>
    </div>
  </section>

</div><!-- end .content -->
